<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/apple/Desktop/code/second2project/javaCoreProject/RestApiPro">
        <classes>
            <class name="com.lise.testcases.GetResponse"/>
            <class name="com.lise.testcases.PostResponse"/>
            <class name="com.lise.testcases.PutResponse"/>
            <class name="com.lise.testcases.PatchResponse"/>
            <class name="com.lise.testcases.DeleteResponse"/>
        </classes>
    </test>
</suite>